In [1]:
#importing my libraries
import pandas as pd
import numpy as np

In [2]:
#loading my data, naming it as 'df'
df = pd.read_csv('fifa21 raw data v2.csv')
df.head(10)

C:\Users\DELL\AppData\Local\Temp\ipykernel_7448\2784622850.py:2: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('fifa21 raw data v2.csv')

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595
5,188545,R. Lewandowski,Robert Lewandowski,https://cdn.sofifa.com/players/188/545/21_60.png,http://sofifa.com/player/188545/robert-lewando...,Poland,31,91,91,\n\n\n\nFC Bayern München,...,High,Medium,4 ★,78,91,78,85,43,82,248
6,209331,M. Salah,Mohamed Salah,https://cdn.sofifa.com/players/209/331/21_60.png,http://sofifa.com/player/209331/mohamed-salah/...,Egypt,28,90,90,\n\n\n\nLiverpool,...,High,Medium,3 ★,93,86,81,90,45,75,246
7,212831,Alisson,Alisson Ramses Becker,https://cdn.sofifa.com/players/212/831/21_60.png,http://sofifa.com/player/212831/alisson-ramses...,Brazil,27,90,91,\n\n\n\nLiverpool,...,Medium,Medium,3 ★,86,88,85,89,51,91,120
8,231747,K. Mbappé,Kylian Mbappé,https://cdn.sofifa.com/players/231/747/21_60.png,http://sofifa.com/player/231747/kylian-mbappe/...,France,21,90,95,\n\n\n\nParis Saint-Germain,...,High,Low,3 ★,96,86,78,91,39,76,1.6K
9,192448,M. ter Stegen,Marc-André ter Stegen,https://cdn.sofifa.com/players/192/448/21_60.png,http://sofifa.com/player/192448/marc-andre-ter...,Germany,28,90,93,\n\n\n\nFC Barcelona,...,Medium,Medium,3 ★,88,85,88,90,45,88,130

In [3]:
#checking the data types of my dataframe
df.dtypes

ID            int64
Name         object
LongName     object
photoUrl     object
playerUrl    object
              ...
PAS           int64
DRI           int64
DEF           int64
PHY           int64
Hits         object
Length: 77, dtype: object

In [4]:
#checking the columns
df.columns

Index(['ID', 'Name', 'LongName', 'photoUrl', 'playerUrl', 'Nationality', 'Age',
       '↓OVA', 'POT', 'Club', 'Contract', 'Positions', 'Height', 'Weight',
       'Preferred Foot', 'BOV', 'Best Position', 'Joined', 'Loan Date End',
       'Value', 'Wage', 'Release Clause', 'Attacking', 'Crossing', 'Finishing',
       'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling',
       'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
       'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling',
       'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats',
       'Base Stats', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'PAC', 'SHO', 'PAS',
       'DRI', 'DEF', 'PHY', 'Hits'],
      dtype='object')

In [5]:
#checking the info of the data 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

In [6]:
#checking the shape of the data
df.shape

(18979, 77)

In [7]:
#checking the sum of null values ikn my dataframe
df.isna().sum()

ID              0
Name            0
LongName        0
photoUrl        0
playerUrl       0
             ...
PAS             0
DRI             0
DEF             0
PHY             0
Hits         2595
Length: 77, dtype: int64

In [8]:
#checking the unique values in club column
df['Club'].unique()

array(['\n\n\n\nFC Barcelona', '\n\n\n\nJuventus',
       '\n\n\n\nAtlético Madrid', '\n\n\n\nManchester City',
       '\n\n\n\nParis Saint-Germain', '\n\n\n\nFC Bayern München',
       '\n\n\n\nLiverpool', '\n\n\n\nReal Madrid', '\n\n\n\nChelsea',
       '\n\n\n\nTottenham Hotspur', '\n\n\n\nInter', '\n\n\n\nNapoli',
       '\n\n\n\nBorussia Dortmund', '\n\n\n\nManchester United',
       '\n\n\n\nArsenal', '\n\n\n\nLazio', '\n\n\n\nLeicester City',
       '\n\n\n\nBorussia Mönchengladbach', '\n\n\n\nReal Sociedad',
       '\n\n\n\nAtalanta', '\n\n\n\nOlympique Lyonnais', '\n\n\n\nMilan',
       '\n\n\n\nVillarreal CF', '\n\n\n\nRB Leipzig', '\n\n\n\nCagliari',
       '\n\n\n\nAjax', '\n\n\n\nSL Benfica', '\n\n\n\nAS Monaco',
       '\n\n\n\nWolverhampton Wanderers', '\n\n\n\nEverton',
       '\n\n\n\nFiorentina', '\n\n\n\nFC Porto', '\n\n\n\nRC Celta',
       '\n\n\n\nTorino', '\n\n\n\nSevilla FC', '\n\n\n\nGrêmio',
       '\n\n\n\nReal Betis', '\n\n\n\nRoma', '\n\n\n\nNewcastle United',
       '\n\n\n\nEintracht Frankfurt', '\n\n\n\nValencia CF',
       '\n\n\n\nMedipol Başakşehir FK', '\n\n\n\nInter Miami',
       '\n\n\n\nBayer 04 Leverkusen', '\n\n\n\nLevante UD',
       '\n\n\n\nCrystal Palace', '\n\n\n\nAthletic Club de Bilbao',
       '\n\n\n\nShanghai SIPG FC', '\n\n\n\nVfL Wolfsburg',
       '\n\n\n\nGuangzhou Evergrande Taobao FC', '\n\n\n\nAl Shabab',
       '\n\n\n\nOlympique de Marseille', '\n\n\n\nLos Angeles FC',
       '\n\n\n\nBeijing Sinobo Guoan FC', '\n\n\n\nGetafe CF',
       '\n\n\n\nSV Werder Bremen', '\n\n\n\nTSG 1899 Hoffenheim',
       '\n\n\n\nLOSC Lille', '\n\n\n\nDeportivo Alavés',
       '\n\n\n\nBurnley', '\n\n\n\nLeeds United', '\n\n\n\nFulham',
       '\n\n\n\nPFC CSKA Moscow', '\n\n\n\nGenoa',
       '\n\n\n\nGalatasaray SK', '\n\n\n\nAtlanta United',
       '\n\n\n\nAtlético Mineiro', '\n\n\n\nFlamengo',
       '\n\n\n\nPalmeiras', 'No Club', '\n\n\n\nSão Paulo',
       '\n\n\n\nWest Ham United', '\n\n\n\nSD Eibar',
       '\n\n\n\nRiver Plate', '\n\n\n\nOGC Nice',
       '\n\n\n\nReal Valladolid CF', '\n\n\n\nSporting CP', '\n\n\n\nPSV',
       '\n\n\n\nFeyenoord', '\n\n\n\nClub Brugge KV',
       '\n\n\n\nShakhtar Donetsk', '\n\n\n\nVissel Kobe',
       '\n\n\n\nBoca Juniors', '\n\n\n\n1. FC Union Berlin',
       '\n\n\n\nDalian YiFang FC', '\n\n\n\nAS Saint-Étienne',
       '\n\n\n\nSassuolo', '\n\n\n\nTigres U.A.N.L.',
       '\n\n\n\nDinamo Zagreb', '\n\n\n\nDynamo Kyiv',
       '\n\n\n\nFluminense', '\n\n\n\nUdinese', '\n\n\n\nAston Villa',
       '\n\n\n\nStade Rennais FC', '\n\n\n\nBeşiktaş JK',
       '\n\n\n\nBrighton & Hove Albion', '\n\n\n\nHebei China Fortune FC',
       '\n\n\n\nSouthampton', '\n\n\n\nLokomotiv Moscow',
       '\n\n\n\nJiangsu Suning FC', '\n\n\n\nAl Hilal',
       '\n\n\n\nWest Bromwich Albion', '\n\n\n\nFenerbahçe SK',
       '\n\n\n\nFC Groningen', '\n\n\n\nGuangzhou R&F FC',
       '\n\n\n\nOrlando City SC', '\n\n\n\nSampdoria',
       '\n\n\n\nStade de Reims', '\n\n\n\nSheffield United',
       '\n\n\n\nSantos', '\n\n\n\nInternacional', '\n\n\n\nCoritiba',
       '\n\n\n\nCA Osasuna', '\n\n\n\nLA Galaxy', '\n\n\n\nAl Nassr',
       '\n\n\n\nSC Freiburg', '\n\n\n\nSC Braga',
       '\n\n\n\nOlympiacos CFP', '\n\n\n\nToronto FC',
       '\n\n\n\nGranada CF', '\n\n\n\nFC Schalke 04',
       '\n\n\n\nRC Strasbourg Alsace', '\n\n\n\nHertha BSC',
       '\n\n\n\nAZ Alkmaar', '\n\n\n\nSeattle Sounders FC',
       '\n\n\n\nMontpellier HSC', '\n\n\n\nShanghai Greenland Shenhua FC',
       '\n\n\n\nHamburger SV', '\n\n\n\nGirona FC', '\n\n\n\nRacing Club',
       '\n\n\n\nPortland Timbers', '\n\n\n\nFC Girondins de Bordeaux',
       '\n\n\n\nWatford', '\n\n\n\nEstudiantes de La Plata',
       '\n\n\n\nClub América', '\n\n\n\nVitória Guimarães',
       '\n\n\n\nSK Slavia Praha', '\n\n\n\nTrabzonspor',
       '\n\n\n\nRCD Espanyol', '\n\n\n\nFC Nantes', '\n\n\n\nAngers SCO',
       '\n\n\n\nCruz Azul', '\n\n\n\nBSC Young Boys', '\n\n\n\nClub León',
       '\n\n\n\nSpartak Moscow', '\n\n\n\nSivasspor', '\n\n\n\nElche CF',
       '\n\n\n\nFC Augsburg', '\n\n\n\nWuhan Zall', '\n\n\n\nParma',
       '\n\n\n\nRoyal Antwerp FC', '\n\n\n\nMonterrey',
       '\n\n\n\nSan Lorenzo de Almagro', '\n\n\n\nAC Monza',
       '\n\n\n\nClub Atlético Lanús', '\n\n\n\nSD Huesca',
       '\n\n\n\nDerby County', '\n\n\n\nKayserispor',
       '\n\n\n\nRSC Anderlecht', '\n\n\n\nCD Leganés',
       '\n\n\n\nVélez Sarsfield', '\n\n\n\nStade Brestois 29',
       '\n\n\n\nTianjin TEDA FC', '\n\n\n\nBirmingham City',
       '\n\n\n\nHellas Verona', '\n\n\n\n1. FC Köln', '\n\n\n\nAl Wehda',
       '\n\n\n\nBournemouth', '\n\n\n\nAlanyaspor', '\n\n\n\nBologna',
       '\n\n\n\nAmiens SC', '\n\n\n\nCeltic',
       '\n\n\n\nShijiazhuang Ever Bright F.C.', '\n\n\n\nClub Atlas',
       '\n\n\n\nAl Ahli', '\n\n\n\nNorwich City',
       '\n\n\n\nFatih Karagümrük S.K.', '\n\n\n\nClub Tijuana',
       '\n\n\n\nUniversidad Católica', '\n\n\n\nGoiás',
       '\n\n\n\nBenevento', '\n\n\n\nIndependiente',
       '\n\n\n\nQingdao Huanghai F.C.', '\n\n\n\nBrentford',
       '\n\n\n\nAEK Athens', '\n\n\n\nRacing Club de Lens',
       '\n\n\n\nOlimpia Asunción', '\n\n\n\nShenzhen FC',
       '\n\n\n\nÇaykur Rizespor', '\n\n\n\nKAA Gent',
       '\n\n\n\nNew England Revolution', '\n\n\n\nCádiz CF',
       '\n\n\n\n1. FSV Mainz 05', '\n\n\n\nVasco da Gama',
       '\n\n\n\nFC Midtjylland', '\n\n\n\nAl Ain FC',
       '\n\n\n\nSantos Laguna', '\n\n\n\nSPAL', '\n\n\n\nPerth Glory',
       '\n\n\n\nFC Utrecht', '\n\n\n\nMontreal Impact',
       '\n\n\n\nUD Almería', '\n\n\n\nFortaleza', '\n\n\n\nSpezia',
       '\n\n\n\nFC Basel 1893', '\n\n\n\nFC København',
       '\n\n\n\nGodoy Cruz', '\n\n\n\nDeportivo Toluca',
       '\n\n\n\nNacional de Montevideo', '\n\n\n\nAalborg BK',
       '\n\n\n\nRio Ave FC', '\n\n\n\nFC Metz',
       '\n\n\n\nChongqing Dangdai Lifan FC SWM Team',
       '\n\n\n\nRosenborg BK', '\n\n\n\nFC Red Bull Salzburg',
       '\n\n\n\nBotafogo', '\n\n\n\nDSC Arminia Bielefeld',
       '\n\n\n\nClub Athletico Paranaense', '\n\n\n\nRCD Mallorca',
       '\n\n\n\nPachuca', '\n\n\n\nSwansea City', '\n\n\n\nKRC Genk',
       '\n\n\n\nEn Avant de Guingamp', '\n\n\n\nLecce',
       '\n\n\n\nNîmes Olympique', '\n\n\n\nColo-Colo',
       '\n\n\n\nStade Malherbe Caen', '\n\n\n\nColumbus Crew SC',
       '\n\n\n\nJunior FC', '\n\n\n\nVfB Stuttgart',
       '\n\n\n\nMoreirense FC', '\n\n\n\nRangers FC', '\n\n\n\nMalmö FF',
       '\n\n\n\nShandong Luneng TaiShan FC', '\n\n\n\nSparta Praha',
       '\n\n\n\nHatayspor', '\n\n\n\nChicago Fire',
       '\n\n\n\nToulouse Football Club', '\n\n\n\nFC Seoul',
       '\n\n\n\nAntalyaspor', '\n\n\n\nDeportivo Cali',
       '\n\n\n\nKaizer Chiefs', '\n\n\n\nReal Zaragoza',
       '\n\n\n\nAtlético Clube Goianiense', '\n\n\n\nPuebla FC',
       '\n\n\n\nFortuna Düsseldorf', '\n\n\n\nWestern United FC',
       '\n\n\n\nAstra Giurgiu', '\n\n\n\nHenan Jianye FC',
       '\n\n\n\nBahia', '\n\n\n\nFamalicão', '\n\n\n\nAtiker Konyaspor',
       '\n\n\n\nPeñarol', '\n\n\n\nDC United', '\n\n\n\nNew York City FC',
       '\n\n\n\nArgentinos Juniors', '\n\n\n\nU.N.A.M.',
       '\n\n\n\nMinnesota United FC', '\n\n\n\nNottingham Forest',
       '\n\n\n\nIndependiente del Valle', '\n\n\n\nDefensa y Justicia',
       '\n\n\n\nPhiladelphia Union', "\n\n\n\nNewell's Old Boys",
       '\n\n\n\nRosario Central', '\n\n\n\nAtlético de San Luis',
       '\n\n\n\nFC Dallas', '\n\n\n\nDenizlispor',
       '\n\n\n\nYeni Malatyaspor', '\n\n\n\nClub Atlético Colón',
       '\n\n\n\nHouston Dynamo', '\n\n\n\nMillwall',
       '\n\n\n\nClube Sport Marítimo', '\n\n\n\nMKE Ankaragücü',
       '\n\n\n\nGuadalajara', '\n\n\n\nBoavista FC',
       '\n\n\n\nSporting Kansas City', '\n\n\n\nAtlético Nacional',
       '\n\n\n\nCD Lugo', '\n\n\n\nNew York Red Bulls', '\n\n\n\nPAOK',
       '\n\n\n\nSC Heerenveen', '\n\n\n\nDaegu FC',
       '\n\n\n\nPreston North End', '\n\n\n\nDamac FC', '\n\n\n\nBrescia',
       '\n\n\n\nVfL Bochum 1848', '\n\n\n\nVancouver Whitecaps FC',
       '\n\n\n\nSV Sandhausen', '\n\n\n\nRoyal Excel Mouscron',
       '\n\n\n\nDijon FCO', '\n\n\n\nMolde FK',
       '\n\n\n\nPanathinaikos FC', '\n\n\n\nLASK Linz',
       '\n\n\n\nUlsan Hyundai FC', '\n\n\n\nReal Salt Lake',
       '\n\n\n\nFC Luzern', '\n\n\n\nViktoria Plzeň',
       '\n\n\n\nOrlando Pirates', '\n\n\n\nAl Ittihad',
       '\n\n\n\n1. FC Nürnberg', '\n\n\n\nStandard de Liège',
       '\n\n\n\nRayo Vallecano', '\n\n\n\nClub Libertad',
       '\n\n\n\nJeonbuk Hyundai Motors',
       '\n\n\n\nWestern Sydney Wanderers', '\n\n\n\nUnión de Santa Fe',
       '\n\n\n\nFC Sion', '\n\n\n\nSydney FC', '\n\n\n\nHannover 96',
       '\n\n\n\nReal Sporting de Gijón', '\n\n\n\nFC Cincinnati',
       '\n\n\n\nESTAC Troyes', '\n\n\n\nSan Jose Earthquakes',
       '\n\n\n\nClub Guaraní', '\n\n\n\nFC Lorient',
       '\n\n\n\nGençlerbirliği SK', '\n\n\n\nSporting de Charleroi',
       '\n\n\n\nWisła Kraków', '\n\n\n\nAl Taawoun', '\n\n\n\nReading',
       '\n\n\n\nGazişehir Gaziantep F.K.', '\n\n\n\nBlackburn Rovers',
       '\n\n\n\nKashiwa Reysol', '\n\n\n\nFK Bodø/Glimt',
       '\n\n\n\nWillem II', '\n\n\n\nVitesse', '\n\n\n\nGil Vicente FC',
       '\n\n\n\nSønderjyskE', '\n\n\n\nYokohama F. Marinos',
       '\n\n\n\nFC St. Gallen', '\n\n\n\nClub Atlético Aldosivi',
       '\n\n\n\nGöztepe SK', '\n\n\n\nHolstein Kiel', '\n\n\n\nFC Juárez',
       '\n\n\n\nFCSB (Steaua)', '\n\n\n\nEttifaq FC', '\n\n\n\nKAS Eupen',
       '\n\n\n\nFC Tokyo', '\n\n\n\nMelbourne City FC',
       '\n\n\n\nUniversitatea Craiova', '\n\n\n\nCD Tondela',
       '\n\n\n\nWolfsberger AC', '\n\n\n\nCeará Sporting Club',
       '\n\n\n\nRiver Plate Asunción', '\n\n\n\nStoke City',
       '\n\n\n\nParis FC', '\n\n\n\nIFK Norrköping', '\n\n\n\nCrotone',
       '\n\n\n\nCardiff City', '\n\n\n\nAmérica de Cali',
       '\n\n\n\nAl Faisaly', '\n\n\n\nIndependiente Medellín',
       '\n\n\n\nPortimonense SC', '\n\n\n\nCD Tenerife',
       '\n\n\n\nHeracles Almelo', '\n\n\n\nNashville SC',
       '\n\n\n\nSK Rapid Wien', '\n\n\n\nKawasaki Frontale',
       '\n\n\n\nClub Necaxa', '\n\n\n\nChievo Verona',
       '\n\n\n\nLech Poznań', '\n\n\n\nAIK', '\n\n\n\nFK Austria Wien',
       '\n\n\n\nQuerétaro', '\n\n\n\n1. FC Heidenheim 1846',
       '\n\n\n\nLegia Warszawa', '\n\n\n\nClub Atlético Banfield',
       '\n\n\n\nOs Belenenses', '\n\n\n\nHuddersfield Town',
       '\n\n\n\nKSV Cercle Brugge', '\n\n\n\nLDU Quito',
       '\n\n\n\nGimnasia y Esgrima La Plata', '\n\n\n\nGamba Osaka',
       '\n\n\n\nMiddlesbrough', '\n\n\n\nServette FC', '\n\n\n\nEmpoli',
       '\n\n\n\nReal Oviedo', '\n\n\n\nKasimpaşa SK', '\n\n\n\nCFR Cluj',
       '\n\n\n\nMillonarios FC', '\n\n\n\nFC Paços de Ferreira',
       '\n\n\n\nSint-Truidense VV', '\n\n\n\nAD Alcorcón',
       '\n\n\n\nColorado Rapids', '\n\n\n\nDinamo Bucureşti',
       '\n\n\n\nCerezo Osaka', '\n\n\n\nFC Emmen',
       '\n\n\n\nSheffield Wednesday', '\n\n\n\nFC Erzgebirge Aue',
       '\n\n\n\nRaków Częstochowa', '\n\n\n\nAtlético Tucumán',
       '\n\n\n\nSV Darmstadt 98', '\n\n\n\nBristol City',
       '\n\n\n\nOud-Heverlee Leuven', '\n\n\n\nBarnsley',
       '\n\n\n\nQueens Park Rangers', '\n\n\n\nSangju Sangmu FC',
       '\n\n\n\nHelsingborgs IF', '\n\n\n\nAC Ajaccio',
       '\n\n\n\nOceânico FC', '\n\n\n\nClub Atlético Talleres',
       '\n\n\n\nAl Hazem', '\n\n\n\nSC Paderborn 07',
       '\n\n\n\nClub Atlético Huracán', '\n\n\n\nKV Kortrijk',
       '\n\n\n\nEl Nacional', '\n\n\n\nMazatlán FC', '\n\n\n\nAberdeen',
       '\n\n\n\nCD Mirandés', '\n\n\n\nSV Zulte-Waregem',
       '\n\n\n\nPiast Gliwice', '\n\n\n\nDjurgårdens IF',
       '\n\n\n\nCentral Córdoba', '\n\n\n\nWellington Phoenix',
       '\n\n\n\nDeportivo Binacional', '\n\n\n\nPatronato',
       '\n\n\n\nSpVgg Greuther Fürth', '\n\n\n\nIFK Göteborg',
       '\n\n\n\nFC Cartagena', '\n\n\n\nSanta Clara', '\n\n\n\nFC Twente',
       '\n\n\n\nFarense', '\n\n\n\nADO Den Haag', '\n\n\n\nAJ Auxerre',
       '\n\n\n\nAl Fateh', '\n\n\n\nValenciennes FC',
       '\n\n\n\nHokkaido Consadole Sapporo', '\n\n\n\nFC St. Pauli',
       '\n\n\n\nAlbacete BP', '\n\n\n\n1. FC Kaiserslautern',
       '\n\n\n\nAl Fayha', '\n\n\n\nIncheon United FC',
       '\n\n\n\nKV Mechelen', '\n\n\n\nPohang Steelers',
       '\n\n\n\nCD Nacional', '\n\n\n\nUnión La Calera',
       '\n\n\n\nBB Erzurumspor', '\n\n\n\nKashima Antlers',
       '\n\n\n\nArsenal de Sarandí', '\n\n\n\nHJK Helsinki',
       '\n\n\n\nKarlsruher SC', '\n\n\n\nAarhus GF', '\n\n\n\nFC Zürich',
       '\n\n\n\nBarcelona Sporting Club', '\n\n\n\nSG Dynamo Dresden',
       '\n\n\n\nSanfrecce Hiroshima', '\n\n\n\nAl Raed',
       '\n\n\n\nSD Ponferradina', '\n\n\n\nBrøndby IF',
       '\n\n\n\nLechia Gdańsk', '\n\n\n\nFC Viitorul',
       '\n\n\n\nSK Sturm Graz', '\n\n\n\nIF Elfsborg',
       '\n\n\n\nGangwon FC', '\n\n\n\nMelgar FBC',
       '\n\n\n\nClub Atlético Grau', '\n\n\n\nJagiellonia Białystok',
       '\n\n\n\nWaasland-Beveren', '\n\n\n\nVfL Osnabrück',
       '\n\n\n\nNagoya Grampus', '\n\n\n\nCF Fuenlabrada',
       '\n\n\n\nShamrock Rovers', '\n\n\n\nShimizu S-Pulse',
       '\n\n\n\nRKC Waalwijk', '\n\n\n\nVålerenga Fotball',
       '\n\n\n\nClermont Foot 63', '\n\n\n\nFC Ingolstadt 04',
       '\n\n\n\nFC Würzburger Kickers', '\n\n\n\nGórnik Zabrze',
       '\n\n\n\nCharlton Athletic', '\n\n\n\nBeerschot AC',
       '\n\n\n\nCoquimbo Unido', '\n\n\n\nViktoria Köln',
       '\n\n\n\nHull City', '\n\n\n\nMálaga CF',
       '\n\n\n\nFC Nordsjælland', '\n\n\n\nUD Las Palmas',
       '\n\n\n\nVVV-Venlo', '\n\n\n\nGwangJu FC',
       '\n\n\n\nChamois Niortais Football Club', '\n\n\n\nFC Lugano',
       '\n\n\n\nCusco FC', '\n\n\n\nSparta Rotterdam',
       '\n\n\n\nSol de América', '\n\n\n\nPEC Zwolle',
       '\n\n\n\nPogoń Szczecin', '\n\n\n\nDoncaster Rovers',
       '\n\n\n\nKristiansund BK', '\n\n\n\nLiverpool Fútbol Club',
       '\n\n\n\nClub Bolívar', '\n\n\n\nUrawa Red Diamonds',
       '\n\n\n\nSK Brann', '\n\n\n\nEintracht Braunschweig',
       '\n\n\n\nNacional Asunción', '\n\n\n\nMelbourne Victory',
       '\n\n\n\nKilmarnock', '\n\n\n\nDundalk',
       '\n\n\n\nSSV Jahn Regensburg', '\n\n\n\nAbha Club',
       '\n\n\n\nClub Atlético Tigre', '\n\n\n\nSuwon Samsung Bluewings',
       '\n\n\n\nShonan Bellmare', '\n\n\n\nSD Aucas', '\n\n\n\nEmelec',
       '\n\n\n\nFortuna Sittard', '\n\n\n\nLa Berrichonne de Châteauroux',
       '\n\n\n\nŚląsk Wrocław', '\n\n\n\nCoventry City',
       '\n\n\n\nSunderland', '\n\n\n\nAlianza Lima',
       '\n\n\n\nHammarby IF', '\n\n\n\nCracovia',
       '\n\n\n\nCE Sabadell FC', '\n\n\n\nOita Trinita',
       '\n\n\n\nBK Häcken', '\n\n\n\nLuton Town', '\n\n\n\nLe Havre AC',
       '\n\n\n\nIK Sirius', '\n\n\n\nZagłębie Lubin',
       '\n\n\n\nGrenoble Foot 38', '\n\n\n\nMacarthur FC',
       '\n\n\n\nRodez Aveyron Football', '\n\n\n\nVegalta Sendai',
       '\n\n\n\nMotherwell', '\n\n\n\nSV Wehen Wiesbaden',
       '\n\n\n\nAudax Italiano', '\n\n\n\nGaz Metan Mediaş',
       '\n\n\n\nPortsmouth', '\n\n\n\nHibernian', '\n\n\n\nAlways Ready',
       '\n\n\n\nUD Logroñés', '\n\n\n\nFC Voluntari',
       '\n\n\n\nFC Hermannstadt', '\n\n\n\nAS Nancy Lorraine',
       '\n\n\n\nRotherham United', '\n\n\n\nFleetwood Town',
       '\n\n\n\nJorge Wilstermann', '\n\n\n\nOdense Boldklub',
       '\n\n\n\nMSV Duisburg', '\n\n\n\nFC Sochaux-Montbéliard',
       '\n\n\n\nMilton Keynes Dons', '\n\n\n\nRiver Plate Montevideo',
       '\n\n\n\nDelfín SC', '\n\n\n\nUniversidad Católica del Ecuador',
       '\n\n\n\nDeportivo Pasto', '\n\n\n\nKV Oostende',
       '\n\n\n\nClub Plaza Colonia', '\n\n\n\nWigan Athletic',
       '\n\n\n\nFC Botoşani', '\n\n\n\nC.D. Castellón',
       '\n\n\n\nSCR Altach', '\n\n\n\nÖrebro SK', '\n\n\n\nTSV Hartberg',
       '\n\n\n\nStabæk Fotball', '\n\n\n\nWycombe Wanderers',
       '\n\n\n\nSt. Johnstone FC', '\n\n\n\nOxford United',
       '\n\n\n\nLincoln City', '\n\n\n\nRanders FC', '\n\n\n\nViking FK',
       '\n\n\n\nFC Chambly Oise', '\n\n\n\nDundee United',
       '\n\n\n\nOriente Petrolero', '\n\n\n\nOdds BK',
       '\n\n\n\nNacional Potosí', '\n\n\n\nSepsi OSK',
       '\n\n\n\nFC Hansa Rostock', '\n\n\n\nLyngby BK',
       '\n\n\n\nSpVgg Unterhaching', '\n\n\n\nBrisbane Roar',
       '\n\n\n\nSeongnam FC', '\n\n\n\nSV Ried', '\n\n\n\nCD Huachipato',
       '\n\n\n\nWSG Tirol', '\n\n\n\nPodbeskidzie Bielsko-Biała',
       '\n\n\n\nPeterborough United', '\n\n\n\nClub Blooming',
       '\n\n\n\nWisła Płock', '\n\n\n\nBusan IPark',
       '\n\n\n\nFSV Zwickau', '\n\n\n\nMjøndalen IF',
       '\n\n\n\nVejle Boldklub', '\n\n\n\nPau FC',
       '\n\n\n\nFC Lausanne-Sport', '\n\n\n\nEstudiantes de Mérida',
       '\n\n\n\nSagan Tosu', '\n\n\n\nSV Waldhof Mannheim',
       '\n\n\n\nSport Huancayo', '\n\n\n\nHallescher FC',
       '\n\n\n\nKalmar FF', '\n\n\n\nSt. Mirren',
       '\n\n\n\nSKN St. Pölten', '\n\n\n\nSarpsborg 08 FF',
       '\n\n\n\nShrewsbury', '\n\n\n\nTSV 1860 München',
       '\n\n\n\nSV Meppen', '\n\n\n\nIpswich Town', '\n\n\n\nIK Start',
       '\n\n\n\nAdelaide United', '\n\n\n\nStal Mielec',
       '\n\n\n\nCentro Atlético Fénix', '\n\n\n\nNewcastle Jets',
       '\n\n\n\nLivingston FC', '\n\n\n\nAC Mineros de Guayana',
       '\n\n\n\nAFC Wimbledon', '\n\n\n\nBurton Albion',
       '\n\n\n\nAl Adalah', '\n\n\n\nWarta Poznań',
       '\n\n\n\nUSL Dunkerque', '\n\n\n\nBristol Rovers',
       '\n\n\n\nUTA Arad', '\n\n\n\nÖstersunds FK',
       '\n\n\n\nSportivo Luqueño', '\n\n\n\nPolitehnica Iaşi',
       '\n\n\n\nSalford City', '\n\n\n\nCentral Coast Mariners',
       '\n\n\n\nCaracas FC', '\n\n\n\nAC Horsens',
       '\n\n\n\nPlymouth Argyle', '\n\n\n\nAalesunds FK',
       '\n\n\n\nCrewe Alexandra', '\n\n\n\nChindia Târgovişte',
       '\n\n\n\nOldham Athletic', '\n\n\n\nYokohama FC',
       '\n\n\n\nBlackpool', '\n\n\n\nNorthampton Town',
       '\n\n\n\nBayern München II', '\n\n\n\nFK Haugesund',
       '\n\n\n\nKFC Uerdingen 05', '\n\n\n\nForest Green Rovers',
       '\n\n\n\nCheltenham Town', '\n\n\n\nStrømsgodset IF',
       '\n\n\n\nMjällby AIF', '\n\n\n\nExeter City',
       '\n\n\n\nCambridge United', '\n\n\n\nGrimsby Town',
       '\n\n\n\nFC Vaduz', '\n\n\n\nTürkgücü München',
       '\n\n\n\nVfB Lübeck', '\n\n\n\nBolton Wanderers',
       '\n\n\n\nBradford City', '\n\n\n\n1. FC Magdeburg',
       '\n\n\n\nFC Admira Wacker Mödling',
       '\n\n\n\nHamilton Academical FC', '\n\n\n\nAragua FC',
       '\n\n\n\nAccrington Stanley', '\n\n\n\nSwindon Town',
       '\n\n\n\nCarlisle United', '\n\n\n\nFC Argeș', '\n\n\n\nPort Vale',
       '\n\n\n\nAcademica Clinceni', '\n\n\n\nRochdale',
       '\n\n\n\nGillingham', '\n\n\n\nTranmere Rovers',
       '\n\n\n\nSouthend United', '\n\n\n\n1. FC Saarbrücken',
       '\n\n\n\nColchester United', '\n\n\n\nMansfield Town',
       '\n\n\n\nFalkenbergs FF', '\n\n\n\nSC Verl',
       '\n\n\n\nVarbergs BoIS', '\n\n\n\nCrawley Town',
       '\n\n\n\nSandefjord Fotball', '\n\n\n\nNewport County',
       '\n\n\n\nBohemian FC', '\n\n\n\nRoss County FC',
       '\n\n\n\nScunthorpe United', '\n\n\n\nMorecambe',
       '\n\n\n\nWalsall', '\n\n\n\nLeyton Orient', '\n\n\n\nStevenage',
       '\n\n\n\nBarrow', '\n\n\n\nDerry City',
       '\n\n\n\nLlaneros de Guanare', '\n\n\n\nSligo Rovers',
       '\n\n\n\nZamora FC', "\n\n\n\nSt. Patrick's Athletic",
       '\n\n\n\nCork City', '\n\n\n\nShelbourne FC',
       '\n\n\n\nHarrogate Town', '\n\n\n\nWaterford FC',
       '\n\n\n\nFinn Harps'], dtype=object)

In [9]:
#cleaning the club column 
df['Club'] = df['Club'].str.replace('\n', ' ')
df['Club']

0                   FC Barcelona
1                       Juventus
2                Atlético Madrid
3                Manchester City
4            Paris Saint-Germain
                  ...
18974                 Wuhan Zall
18975            Oldham Athletic
18976                 Derry City
18977           Dalian YiFang FC
18978           Dalian YiFang FC
Name: Club, Length: 18979, dtype: object

In [10]:
#checking the unique columns in contract
df['Contract'].unique()

array(['2004 ~ 2021', '2018 ~ 2022', '2014 ~ 2023', '2015 ~ 2023',
       '2017 ~ 2022', '2017 ~ 2023', '2018 ~ 2024', '2014 ~ 2022',
       '2018 ~ 2023', '2016 ~ 2023', '2013 ~ 2023', '2011 ~ 2023',
       '2009 ~ 2022', '2005 ~ 2021', '2011 ~ 2021', '2015 ~ 2022',
       '2017 ~ 2024', '2010 ~ 2024', '2012 ~ 2021', '2019 ~ 2024',
       '2015 ~ 2024', '2017 ~ 2025', '2020 ~ 2025', '2019 ~ 2023',
       '2008 ~ 2023', '2015 ~ 2021', '2020 ~ 2022', '2012 ~ 2022',
       '2016 ~ 2025', '2013 ~ 2022', '2011 ~ 2022', '2012 ~ 2024',
       '2016 ~ 2021', '2012 ~ 2023', '2008 ~ 2022', '2019 ~ 2022',
       '2017 ~ 2021', '2013 ~ 2024', '2020 ~ 2024', '2010 ~ 2022',
       '2020 ~ 2021', '2011 ~ 2024', '2020 ~ 2023', '2014 ~ 2024',
       '2013 ~ 2026', '2016 ~ 2022', '2010 ~ 2021', '2013 ~ 2021',
       '2019 ~ 2025', '2018 ~ 2025', '2016 ~ 2024', '2018 ~ 2021',
       '2009 ~ 2024', '2007 ~ 2022', 'Jun 30, 2021 On Loan',
       '2009 ~ 2021', '2019 ~ 2021', '2019 ~ 2026', 'Free', '2012 ~ 2028',
       '2010 ~ 2023', '2014 ~ 2021', '2015 ~ 2025', '2014 ~ 2026',
       '2012 ~ 2025', '2017 ~ 2020', '2002 ~ 2022', '2020 ~ 2027',
       '2013 ~ 2025', 'Dec 31, 2020 On Loan', '2019 ~ 2020',
       '2011 ~ 2025', '2016 ~ 2020', '2007 ~ 2021', '2020 ~ 2026',
       '2010 ~ 2025', '2009 ~ 2023', '2008 ~ 2021', '2020 ~ 2020',
       '2016 ~ 2026', 'Jan 30, 2021 On Loan', '2012 ~ 2020',
       '2014 ~ 2025', 'Jun 30, 2022 On Loan', '2015 ~ 2020',
       'May 31, 2021 On Loan', '2018 ~ 2020', '2014 ~ 2020',
       '2013 ~ 2020', '2006 ~ 2024', 'Jul 5, 2021 On Loan',
       'Dec 31, 2021 On Loan', '2004 ~ 2025', '2011 ~ 2020',
       'Jul 1, 2021 On Loan', 'Jan 1, 2021 On Loan', '2006 ~ 2023',
       'Aug 31, 2021 On Loan', '2006 ~ 2021', '2005 ~ 2023',
       '2003 ~ 2020', '2009 ~ 2020', '2002 ~ 2020', '2005 ~ 2020',
       '2005 ~ 2022', 'Jan 31, 2021 On Loan', '2010 ~ 2020',
       'Dec 30, 2021 On Loan', '2008 ~ 2020', '2007 ~ 2020',
       '2003 ~ 2021', 'Jun 23, 2021 On Loan', 'Jan 3, 2021 On Loan',
       'Nov 27, 2021 On Loan', '2002 ~ 2021', 'Jan 17, 2021 On Loan',
       'Jun 30, 2023 On Loan', '1998 ~ 2021', '2003 ~ 2022',
       '2007 ~ 2023', 'Jul 31, 2021 On Loan', 'Nov 22, 2020 On Loan',
       'May 31, 2022 On Loan', '2006 ~ 2020', 'Dec 30, 2020 On Loan',
       '2007 ~ 2025', 'Jan 4, 2021 On Loan', 'Nov 30, 2020 On Loan',
       '2004 ~ 2020', '2009 ~ 2025', 'Aug 1, 2021 On Loan'], dtype=object)

In [11]:
#applying a function to extract start year
def convert_contract(x):
    if isinstance(x,str) and 'On Loan' in x:
        #x.split(',')
        start = x[-12:-8]
        return start
    else:
        return x[:4]

In [12]:
#applying the function
df['Contract Start']= df['Contract'].apply(convert_contract)

In [13]:
df['Contract Start']

0        2004
1        2018
2        2014
3        2015
4        2017
         ...
18974    2018
18975    2020
18976    2019
18977    2020
18978    2019
Name: Contract Start, Length: 18979, dtype: object

In [14]:
#extracting the end year of the contract
df['Contract End']= df['Contract'].apply(lambda x:x[-4:])
df['Contract End']

0        2021
1        2022
2        2023
3        2023
4        2022
         ...
18974    2022
18975    2021
18976    2020
18977    2022
18978    2023
Name: Contract End, Length: 18979, dtype: object

In [15]:
#filling the null values with nont applicable because they werent loaned players
df['Loan Date End'].fillna('not applicable', inplace=True)
df['Loan Date End']

0        not applicable
1        not applicable
2        not applicable
3        not applicable
4        not applicable
              ...
18974    not applicable
18975    not applicable
18976    not applicable
18977    not applicable
18978    not applicable
Name: Loan Date End, Length: 18979, dtype: object

In [16]:
#checking the unique values in height column 
df['Height'].unique()

array(['170cm', '187cm', '188cm', '181cm', '175cm', '184cm', '191cm',
       '178cm', '193cm', '185cm', '199cm', '173cm', '168cm', '176cm',
       '177cm', '183cm', '180cm', '189cm', '179cm', '195cm', '172cm',
       '182cm', '186cm', '192cm', '165cm', '194cm', '167cm', '196cm',
       '163cm', '190cm', '174cm', '169cm', '171cm', '197cm', '200cm',
       '166cm', '6\'2"', '164cm', '198cm', '6\'3"', '6\'5"', '5\'11"',
       '6\'4"', '6\'1"', '6\'0"', '5\'10"', '5\'9"', '5\'6"', '5\'7"',
       '5\'4"', '201cm', '158cm', '162cm', '161cm', '160cm', '203cm',
       '157cm', '156cm', '202cm', '159cm', '206cm', '155cm'], dtype=object)

In [17]:
#seperating the feet and inches with '-'
df['Height'] = df['Height'].str.replace("\'", '-')
df['Height'].unique()
df['Height'] = df['Height'].str.replace('"','')
df['Height'].unique()

array(['170cm', '187cm', '188cm', '181cm', '175cm', '184cm', '191cm',
       '178cm', '193cm', '185cm', '199cm', '173cm', '168cm', '176cm',
       '177cm', '183cm', '180cm', '189cm', '179cm', '195cm', '172cm',
       '182cm', '186cm', '192cm', '165cm', '194cm', '167cm', '196cm',
       '163cm', '190cm', '174cm', '169cm', '171cm', '197cm', '200cm',
       '166cm', '6-2', '164cm', '198cm', '6-3', '6-5', '5-11', '6-4',
       '6-1', '6-0', '5-10', '5-9', '5-6', '5-7', '5-4', '201cm', '158cm',
       '162cm', '161cm', '160cm', '203cm', '157cm', '156cm', '202cm',
       '159cm', '206cm', '155cm'], dtype=object)

In [18]:
#stripping the cm
df['Height']=df['Height'].str.strip('cm')
df['Height'].unique()

array(['170', '187', '188', '181', '175', '184', '191', '178', '193',
       '185', '199', '173', '168', '176', '177', '183', '180', '189',
       '179', '195', '172', '182', '186', '192', '165', '194', '167',
       '196', '163', '190', '174', '169', '171', '197', '200', '166',
       '6-2', '164', '198', '6-3', '6-5', '5-11', '6-4', '6-1', '6-0',
       '5-10', '5-9', '5-6', '5-7', '5-4', '201', '158', '162', '161',
       '160', '203', '157', '156', '202', '159', '206', '155'],
      dtype=object)

In [19]:
#defining a function that converts ft and inches to cm
def convert_height(x):
    if isinstance(x,str) and '-' in x:
        feet,inches = map(int, x.split('-'))
        cm = (feet * 30.48) + (inches * 2.54)
        return round(cm)
    else:
        return (x)
#dotted_time = '1.20'
#h, m = [int(s) for s in dotted_time.split('.')]
#print h, m
#1 20
#minutes = 60*h + m
#hours = minutes / 60.0
# print minutes, hours
#80 1.33333333333

In [20]:
#applying the defined function
df['Height']=df['Height'].apply(convert_height)
df['Height'].unique()

array(['170', '187', '188', '181', '175', '184', '191', '178', '193',
       '185', '199', '173', '168', '176', '177', '183', '180', '189',
       '179', '195', '172', '182', '186', '192', '165', '194', '167',
       '196', '163', '190', '174', '169', '171', '197', '200', '166', 188,
       '164', '198', 190, 196, 180, 193, 185, 183, 178, 175, 168, 170,
       163, '201', '158', '162', '161', '160', '203', '157', '156', '202',
       '159', '206', '155'], dtype=object)

In [21]:
#checking unique values in weight column
df['Weight'].unique()

array(['72kg', '83kg', '87kg', '70kg', '68kg', '80kg', '71kg', '91kg',
       '73kg', '85kg', '92kg', '69kg', '84kg', '96kg', '81kg', '82kg',
       '75kg', '86kg', '89kg', '74kg', '76kg', '64kg', '78kg', '90kg',
       '66kg', '60kg', '94kg', '79kg', '67kg', '65kg', '59kg', '61kg',
       '93kg', '88kg', '97kg', '77kg', '62kg', '63kg', '95kg', '100kg',
       '58kg', '183lbs', '179lbs', '172lbs', '196lbs', '176lbs', '185lbs',
       '170lbs', '203lbs', '168lbs', '161lbs', '146lbs', '130lbs',
       '190lbs', '174lbs', '148lbs', '165lbs', '159lbs', '192lbs',
       '181lbs', '139lbs', '154lbs', '157lbs', '163lbs', '98kg', '103kg',
       '99kg', '102kg', '56kg', '101kg', '57kg', '55kg', '104kg', '107kg',
       '110kg', '53kg', '50kg', '54kg', '52kg'], dtype=object)

In [22]:
#defining a function that converts pounds to kg 
def convert_weight(x):
    if isinstance(x,str) and 'lbs' in x:
        kg=int(x[:3]) /2.205
        return float(kg)
    else:
        return int(x[:-2])

In [23]:
#applying the function
df['Weight']=df['Weight'].apply(convert_weight)

In [24]:
#checking that the function worked
df['Weight'].unique()

array([ 72.        ,  83.        ,  87.        ,  70.        ,
        68.        ,  80.        ,  71.        ,  91.        ,
        73.        ,  85.        ,  92.        ,  69.        ,
        84.        ,  96.        ,  81.        ,  82.        ,
        75.        ,  86.        ,  89.        ,  74.        ,
        76.        ,  64.        ,  78.        ,  90.        ,
        66.        ,  60.        ,  94.        ,  79.        ,
        67.        ,  65.        ,  59.        ,  61.        ,
        93.        ,  88.        ,  97.        ,  77.        ,
        62.        ,  63.        ,  95.        , 100.        ,
        58.        ,  82.99319728,  81.17913832,  78.00453515,
        88.88888889,  79.8185941 ,  83.90022676,  77.09750567,
        92.06349206,  76.19047619,  73.01587302,  66.21315193,
        58.9569161 ,  86.16780045,  78.91156463,  67.12018141,
        74.82993197,  72.10884354,  87.07482993,  82.0861678 ,
        63.03854875,  69.84126984,  71.20181406,  73.92290249,
        98.        , 103.        ,  99.        , 102.        ,
        56.        , 101.        ,  57.        ,  55.        ,
       104.        , 107.        , 110.        ,  53.        ,
        50.        ,  54.        ,  52.        ])

In [25]:
#checking the unique values in joined column
df['Joined'].unique()

array(['Jul 1, 2004', 'Jul 10, 2018', 'Jul 16, 2014', ..., 'Sep 22, 2018',
       'Feb 28, 2015', 'Mar 6, 2018'], dtype=object)

In [26]:
#converting the joined column to datetime type
df['Joined']= pd.to_datetime(df['Joined'])
df['Joined']

0       2004-07-01
1       2018-07-10
2       2014-07-16
3       2015-08-30
4       2017-08-03
           ...
18974   2018-07-13
18975   2020-08-01
18976   2019-03-08
18977   2020-09-22
18978   2019-07-29
Name: Joined, Length: 18979, dtype: datetime64[ns]

In [27]:
#checking unique values in value column
df['Value'].unique()

array(['€103.5M', '€63M', '€120M', '€129M', '€132M', '€111M', '€120.5M',
       '€102M', '€185.5M', '€110M', '€113M', '€90.5M', '€82M', '€17.5M',
       '€83.5M', '€33.5M', '€114.5M', '€78M', '€103M', '€109M', '€92M',
       '€10M', '€76.5M', '€89.5M', '€87.5M', '€79.5M', '€124M', '€114M',
       '€95M', '€92.5M', '€105.5M', '€88.5M', '€85M', '€81.5M', '€26M',
       '€21M', '€56M', '€67.5M', '€53M', '€36.5M', '€51M', '€65.5M',
       '€46.5M', '€61.5M', '€72.5M', '€77.5M', '€43.5M', '€32.5M', '€36M',
       '€32M', '€54M', '€49.5M', '€57M', '€66.5M', '€74.5M', '€71.5M',
       '€121M', '€99M', '€67M', '€86.5M', '€93.5M', '€70M', '€62M',
       '€66M', '€58M', '€44M', '€81M', '€37M', '€14.5M', '€46M', '€47.5M',
       '€52.5M', '€54.5M', '€34.5M', '€57.5M', '€51.5M', '€44.5M', '€55M',
       '€48M', '€60.5M', '€63.5M', '€61M', '€29M', '€58.5M', '€55.5M',
       '€42M', '€40.5M', '€43M', '€45.5M', '€34M', '€26.5M', '€42.5M',
       '€35.5M', '€45M', '€41.5M', '€40M', '€11M', '€13.5M', '€29.5M',
       '€27M', '€15.5M', '€38.5M', '€52M', '€33M', '€19M', '€73.5M',
       '€38M', '€35M', '€47M', '€24M', '€30.5M', '€18M', '€28M', '€25.5M',
       '€25M', '€31M', '€23.5M', '€30M', '€31.5M', '€22.5M', '€28.5M',
       '€4M', '€12.5M', '€37.5M', '€27.5M', '€16M', '€15M', '€20.5M',
       '€22M', '€3.4M', '€5M', '€56.5M', '€62.5M', '€0', '€39M', '€24.5M',
       '€21.5M', '€13M', '€8M', '€20M', '€8.5M', '€2.9M', '€9M', '€4.6M',
       '€50M', '€23M', '€18.5M', '€7M', '€19.5M', '€5.5M', '€7.5M',
       '€3.8M', '€14M', '€10.5M', '€16.5M', '€3.6M', '€9.5M', '€39.5M',
       '€17M', '€12M', '€11.5M', '€4.9M', '€3M', '€1.9M', '€6.5M',
       '€1.7M', '€2.4M', '€3.1M', '€6M', '€3.7M', '€4.7M', '€4.3M',
       '€2.1M', '€1.2M', '€1.8M', '€4.8M', '€3.2M', '€1.3M', '€825K',
       '€2.3M', '€1.5M', '€3.9M', '€2.6M', '€3.5M', '€2.8M', '€2.7M',
       '€4.4M', '€4.1M', '€950K', '€1.6M', '€625K', '€1.1M', '€4.5M',
       '€4.2M', '€2.2M', '€3.3M', '€1.4M', '€2M', '€475K', '€925K',
       '€750K', '€725K', '€2.5M', '€1M', '€350K', '€525K', '€600K',
       '€850K', '€800K', '€550K', '€250K', '€400K', '€425K', '€575K',
       '€210K', '€325K', '€900K', '€875K', '€650K', '€700K', '€500K',
       '€975K', '€375K', '€775K', '€275K', '€180K', '€450K', '€675K',
       '€150K', '€240K', '€300K', '€130K', '€220K', '€200K', '€110K',
       '€170K', '€230K', '€90K', '€120K', '€80K', '€190K', '€140K',
       '€160K', '€100K', '€60K', '€50K', '€70K', '€45K', '€35K', '€40K',
       '€25K', '€20K', '€15K', '€30K', '€9K'], dtype=object)

In [28]:
#stripping the euro symbol
df['Value'] = df['Value'].str.strip('€')
df['Value']

0        103.5M
1           63M
2          120M
3          129M
4          132M
          ...
18974      100K
18975      130K
18976      120K
18977      100K
18978      100K
Name: Value, Length: 18979, dtype: object

In [29]:
#defining a function that converts K to 1000 and M to 1000000
def convert_money(x):
    if  'K' in x:
        x = x.replace('K','')
        x =float(x)*1000
        return round(x)
    elif 'M' in x:
        x = x.replace('M','')
        x =float(x)*1000000
        return round(x)
    else:
         return float(x)

In [30]:
#applying the function
df['Value'] = df['Value'].apply(convert_money)

In [31]:
#calling the value column
df['Value']

0        103500000.0
1         63000000.0
2        120000000.0
3        129000000.0
4        132000000.0
            ...
18974       100000.0
18975       130000.0
18976       120000.0
18977       100000.0
18978       100000.0
Name: Value, Length: 18979, dtype: float64

In [32]:
#checking unique values in wage column
df['Wage'].unique()

array(['€560K', '€220K', '€125K', '€370K', '€270K', '€240K', '€250K',
       '€160K', '€260K', '€210K', '€310K', '€130K', '€350K', '€300K',
       '€190K', '€145K', '€195K', '€100K', '€140K', '€290K', '€82K',
       '€110K', '€230K', '€155K', '€200K', '€165K', '€95K', '€170K',
       '€105K', '€115K', '€150K', '€135K', '€55K', '€58K', '€81K', '€34K',
       '€120K', '€59K', '€90K', '€65K', '€56K', '€71K', '€18K', '€75K',
       '€47K', '€20K', '€84K', '€86K', '€74K', '€78K', '€27K', '€68K',
       '€85K', '€25K', '€46K', '€83K', '€54K', '€79K', '€175K', '€43K',
       '€49K', '€45K', '€38K', '€41K', '€39K', '€23K', '€51K', '€50K',
       '€87K', '€30K', '€14K', '€69K', '€31K', '€64K', '€53K', '€35K',
       '€21K', '€28K', '€17K', '€33K', '€70K', '€32K', '€89K', '€26K',
       '€40K', '€76K', '€72K', '€48K', '€36K', '€29K', '€60K', '€16K',
       '€37K', '€24K', '€52K', '€0', '€62K', '€73K', '€63K', '€19K',
       '€1K', '€66K', '€80K', '€12K', '€2K', '€42K', '€13K', '€900',
       '€57K', '€77K', '€61K', '€22K', '€67K', '€44K', '€15K', '€11K',
       '€8K', '€850', '€10K', '€88K', '€500', '€7K', '€6K', '€9K', '€5K',
       '€700', '€950', '€750', '€3K', '€650', '€600', '€4K', '€800',
       '€550'], dtype=object)

In [33]:
#stripping the euro symbol
df['Wage']= df['Wage'].str.replace('€','')
df['Wage'].unique()

array(['560K', '220K', '125K', '370K', '270K', '240K', '250K', '160K',
       '260K', '210K', '310K', '130K', '350K', '300K', '190K', '145K',
       '195K', '100K', '140K', '290K', '82K', '110K', '230K', '155K',
       '200K', '165K', '95K', '170K', '105K', '115K', '150K', '135K',
       '55K', '58K', '81K', '34K', '120K', '59K', '90K', '65K', '56K',
       '71K', '18K', '75K', '47K', '20K', '84K', '86K', '74K', '78K',
       '27K', '68K', '85K', '25K', '46K', '83K', '54K', '79K', '175K',
       '43K', '49K', '45K', '38K', '41K', '39K', '23K', '51K', '50K',
       '87K', '30K', '14K', '69K', '31K', '64K', '53K', '35K', '21K',
       '28K', '17K', '33K', '70K', '32K', '89K', '26K', '40K', '76K',
       '72K', '48K', '36K', '29K', '60K', '16K', '37K', '24K', '52K', '0',
       '62K', '73K', '63K', '19K', '1K', '66K', '80K', '12K', '2K', '42K',
       '13K', '900', '57K', '77K', '61K', '22K', '67K', '44K', '15K',
       '11K', '8K', '850', '10K', '88K', '500', '7K', '6K', '9K', '5K',
       '700', '950', '750', '3K', '650', '600', '4K', '800', '550'],
      dtype=object)

In [34]:
#defining a function that converts K to 1000 and M to 1000000
def convert_wage(x):
    if isinstance(x,str) and 'K' in x:
        thousand =int(x[:-1]) * 1000
        return thousand
    else:
        return x

In [35]:
df['Wage']=df['Wage'].apply(convert_wage)

In [36]:
df['Wage'].unique()

array([560000, 220000, 125000, 370000, 270000, 240000, 250000, 160000,
       260000, 210000, 310000, 130000, 350000, 300000, 190000, 145000,
       195000, 100000, 140000, 290000, 82000, 110000, 230000, 155000,
       200000, 165000, 95000, 170000, 105000, 115000, 150000, 135000,
       55000, 58000, 81000, 34000, 120000, 59000, 90000, 65000, 56000,
       71000, 18000, 75000, 47000, 20000, 84000, 86000, 74000, 78000,
       27000, 68000, 85000, 25000, 46000, 83000, 54000, 79000, 175000,
       43000, 49000, 45000, 38000, 41000, 39000, 23000, 51000, 50000,
       87000, 30000, 14000, 69000, 31000, 64000, 53000, 35000, 21000,
       28000, 17000, 33000, 70000, 32000, 89000, 26000, 40000, 76000,
       72000, 48000, 36000, 29000, 60000, 16000, 37000, 24000, 52000, '0',
       62000, 73000, 63000, 19000, 1000, 66000, 80000, 12000, 2000, 42000,
       13000, '900', 57000, 77000, 61000, 22000, 67000, 44000, 15000,
       11000, 8000, '850', 10000, 88000, '500', 7000, 6000, 9000, 5000,
       '700', '950', '750', 3000, '650', '600', 4000, '800', '550'],
      dtype=object)

In [37]:
#cleaning the euro symbol in release clause column
df['Release Clause']= df['Release Clause'].str.replace('€','')
df['Release Clause']

0        138.4M
1         75.9M
2        159.4M
3          161M
4        166.5M
          ...
18974       70K
18975      165K
18976      131K
18977       88K
18978       79K
Name: Release Clause, Length: 18979, dtype: object

In [38]:
#applying the function (convert_money) since the column are similar
df['Release Clause']= df['Release Clause'].apply(convert_money)

In [39]:
#calling the release clause column
df['Release Clause']

0        138400000.0
1         75900000.0
2        159400000.0
3        161000000.0
4        166500000.0
            ...
18974        70000.0
18975       165000.0
18976       131000.0
18977        88000.0
18978        79000.0
Name: Release Clause, Length: 18979, dtype: float64

In [40]:
#stripping the star symbol in the W/F column
df['W/F']= df['W/F'].str.strip('★')
df['W/F']

0        4
1        4
2        3
3        5
4        5
         ..
18974    2
18975    2
18976    2
18977    3
18978    3
Name: W/F, Length: 18979, dtype: object

In [41]:
#stripping the star symbol in the SM column
df['SM']= df['SM'].str.strip('★')
df['SM']

0        4
1        5
2        1
3        4
4        5
        ..
18974    2
18975    2
18976    2
18977    2
18978    2
Name: SM, Length: 18979, dtype: object

In [42]:
#stripping the star symbol in the IR column
df['IR']= df['IR'].str.strip('★')
df['IR']

0        5
1        5
2        3
3        4
4        5
         ..
18974    1
18975    1
18976    1
18977    1
18978    1
Name: IR, Length: 18979, dtype: object

In [43]:
#checking the unique values in Hits column
df['Hits'].unique()

array(['771', '562', '150', '207', '595', '248', '246', '120', '1.6K',
       '130', '321', '189', '175', '96', '118', '216', '212', '154',
       '205', '202', '339', '408', '103', '332', '86', '173', '161',
       '396', '1.1K', '433', '242', '206', '177', '1.5K', '198', '459',
       '117', '119', '209', '84', '187', '165', '203', '65', '336', '126',
       '313', '124', '145', '538', '182', '101', '45', '377', '99', '194',
       '403', '414', '593', '374', '245', '3.2K', '266', '299', '309',
       '215', '265', '211', '112', '337', '70', '159', '688', '116', '63',
       '144', '123', '71', '224', '113', '168', '61', '89', '137', '278',
       '75', '148', '176', '197', '264', '214', '247', '402', '440',
       '1.7K', '2.3K', '171', '320', '657', '87', '259', '200', '255',
       '253', '196', '60', '97', '85', '169', '256', '132', '239', '166',
       '121', '109', '32', '46', '122', '48', '527', '199', '282', '51',
       '1.9K', '642', '155', '323', '288', '497', '509', '79', '49',
       '270', '511', '80', '128', '115', '156', '204', '143', '140',
       '152', '220', '134', '225', '94', '74', '135', '142', '50', '77',
       '40', '107', '193', '179', '34', '64', '453', '57', '81', '28',
       '78', '133', '43', '425', '88', '42', '36', '233', '376', '210',
       '444', '100', '263', '98', '29', '160', '39', '257', '6', '310',
       '138', '62', '293', '285', '362', '66', '69', '58', '21', '20',
       '131', '38', '406', '68', '108', '110', '93', '512', '443', '306',
       '352', '422', '585', '346', '178', '841', '76', '394', '72', '172',
       '44', '407', '230', '367', '295', '157', '243', '56', '111', '326',
       '679', '18', '92', '59', '25', '184', '53', '12', '90', '55', '73',
       '11', '566', '180', '83', '262', '17', '26', '31', '280', '359',
       '213', '297', '387', '480', '381', '677', '486', '8', '244', '129',
       '388', '275', '319', '2K', '52', '91', '421', '153', '27', '41',
       '222', '35', '102', '23', '30', '33', '146', '13', '19', '14',
       '106', '276', '568', '353', '47', '478', '249', '254', '369',
       '219', '565', '237', '227', '434', '375', '162', '605', '654', '3',
       '7', '9', '104', '114', '186', '446', '756', '22', '139', '500',
       '67', '147', '149', '16', '82', '54', '37', '15', '1.3K', '3K',
       '952', '5', '749', '541', '330', '393', '517', '770', '409', '170',
       '125', '283', '342', '363', '580', '105', '217', '24', '141', '10',
       '427', '158', '426', '4', '666', '181', '324', '979', '1.4K',
       '302', '751', '298', '411', '944', '2', '947', '292', '349', '621',
       '1', '2.8K', '338', '287', '261', '218', '1.8K', '240', '279',
       '229', '188', '315', '664', '613', '190', '706', '127', '462',
       '386', '695', '491', '167', '281', '250', '307', '95', '231',
       '174', '680', '633', '221', '348', '602', '183', '653', '195',
       '164', '151', '258', '8.4K', '343', '419', '655', '136', '399',
       '531', '357', '228', '385', '312', '340', '238', '487', '355',
       '499', '4.3K', '296', '515', '943', '1.2K', '903', '335', '191',
       '594', '267', '617', '516', '504', '331', '652', '410', '550',
       '473', '442', '344', '208', '1K', '2.5K', '273', '485', '826',
       '192', '405', '941', '477', '644', '303', '417', '6K', nan, 11.0,
       2.0, 1.0, 31.0, 3.0, 10.0, 9.0, 17.0, 7.0, 4.0, 6.0], dtype=object)

In [44]:
#filling na with 0 
df['Hits']= df['Hits'].fillna('0')
df['Hits']

0        771
1        562
2        150
3        207
4        595
        ...
18974      0
18975      0
18976      0
18977      0
18978      0
Name: Hits, Length: 18979, dtype: object

In [45]:
#defining a function to convert K to thousand 
def delete(x):
    if isinstance(x, str) and 'K' in x:
        x = x.strip('K')
        thousand = float(x) * 1000
        return round(thousand)
    else:
        return int(x)

In [46]:
#applying the function
df['Hits']= df['Hits'].apply(delete)

In [47]:
#checking applied function 
df['Hits'].unique()

array([ 771,  562,  150,  207,  595,  248,  246,  120, 1600,  130,  321,
        189,  175,   96,  118,  216,  212,  154,  205,  202,  339,  408,
        103,  332,   86,  173,  161,  396, 1100,  433,  242,  206,  177,
       1500,  198,  459,  117,  119,  209,   84,  187,  165,  203,   65,
        336,  126,  313,  124,  145,  538,  182,  101,   45,  377,   99,
        194,  403,  414,  593,  374,  245, 3200,  266,  299,  309,  215,
        265,  211,  112,  337,   70,  159,  688,  116,   63,  144,  123,
         71,  224,  113,  168,   61,   89,  137,  278,   75,  148,  176,
        197,  264,  214,  247,  402,  440, 1700, 2300,  171,  320,  657,
         87,  259,  200,  255,  253,  196,   60,   97,   85,  169,  256,
        132,  239,  166,  121,  109,   32,   46,  122,   48,  527,  199,
        282,   51, 1900,  642,  155,  323,  288,  497,  509,   79,   49,
        270,  511,   80,  128,  115,  156,  204,  143,  140,  152,  220,
        134,  225,   94,   74,  135,  142,   50,   77,   40,  107,  193,
        179,   34,   64,  453,   57,   81,   28,   78,  133,   43,  425,
         88,   42,   36,  233,  376,  210,  444,  100,  263,   98,   29,
        160,   39,  257,    6,  310,  138,   62,  293,  285,  362,   66,
         69,   58,   21,   20,  131,   38,  406,   68,  108,  110,   93,
        512,  443,  306,  352,  422,  585,  346,  178,  841,   76,  394,
         72,  172,   44,  407,  230,  367,  295,  157,  243,   56,  111,
        326,  679,   18,   92,   59,   25,  184,   53,   12,   90,   55,
         73,   11,  566,  180,   83,  262,   17,   26,   31,  280,  359,
        213,  297,  387,  480,  381,  677,  486,    8,  244,  129,  388,
        275,  319, 2000,   52,   91,  421,  153,   27,   41,  222,   35,
        102,   23,   30,   33,  146,   13,   19,   14,  106,  276,  568,
        353,   47,  478,  249,  254,  369,  219,  565,  237,  227,  434,
        375,  162,  605,  654,    3,    7,    9,  104,  114,  186,  446,
        756,   22,  139,  500,   67,  147,  149,   16,   82,   54,   37,
         15, 1300, 3000,  952,    5,  749,  541,  330,  393,  517,  770,
        409,  170,  125,  283,  342,  363,  580,  105,  217,   24,  141,
         10,  427,  158,  426,    4,  666,  181,  324,  979, 1400,  302,
        751,  298,  411,  944,    2,  947,  292,  349,  621,    1, 2800,
        338,  287,  261,  218, 1800,  240,  279,  229,  188,  315,  664,
        613,  190,  706,  127,  462,  386,  695,  491,  167,  281,  250,
        307,   95,  231,  174,  680,  633,  221,  348,  602,  183,  653,
        195,  164,  151,  258, 8400,  343,  419,  655,  136,  399,  531,
        357,  228,  385,  312,  340,  238,  487,  355,  499, 4300,  296,
        515,  943, 1200,  903,  335,  191,  594,  267,  617,  516,  504,
        331,  652,  410,  550,  473,  442,  344,  208, 1000, 2500,  273,
        485,  826,  192,  405,  941,  477,  644,  303,  417, 6000,    0],
      dtype=int64)

In [48]:
#drop the playerUrl and photoUrl columns
df = df.drop(columns=['playerUrl','photoUrl','Contract'])
df

,ID,Name,LongName,Nationality,Age,↓OVA,POT,Club,Positions,Height,...,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Contract Start,Contract End
0,158023,L. Messi,Lionel Messi,Argentina,33,93,93,FC Barcelona,"RW, ST, CF",170,...,5,85,92,91,95,38,65,771,2004,2021
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,Juventus,"ST, LW",187,...,5,89,93,81,89,35,77,562,2018,2022
2,200389,J. Oblak,Jan Oblak,Slovenia,27,91,93,Atlético Madrid,GK,188,...,3,87,92,78,90,52,90,150,2014,2023
3,192985,K. De Bruyne,Kevin De Bruyne,Belgium,29,91,91,Manchester City,"CAM, CM",181,...,4,76,86,93,88,64,78,207,2015,2023
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,Brazil,28,91,91,Paris Saint-Germain,"LW, CAM",175,...,5,91,85,86,94,36,59,595,2017,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,247223,Xia Ao,Ao Xia,China PR,21,47,55,Wuhan Zall,CB,178,...,1,64,28,26,38,48,51,0,2018,2022
18975,258760,B. Hough,Ben Hough,England,17,47,67,Oldham Athletic,CM,175,...,1,64,40,48,49,35,45,0,2020,2021
18976,252757,R. McKinley,Ronan McKinley,England,18,47,65,Derry City,CM,179,...,1,63,39,44,46,40,53,0,2019,2020
18977,243790,Wang Zhen'ao,Zhen'ao Wang,China PR,20,47,57,Dalian YiFang FC,RW,175,...,1,58,49,41,49,30,44,0,2020,2022
18978,252520,Zhou Xiao,Xiao Zhou,China PR,21,47,57,Dalian YiFang FC,"CB, LB",188,...,1,62,22,39,42,45,55,0,2019,2023

In [49]:
#renaming some columns such as ↓OVA,Height,Weight,Value,Wage,Release Clause
df.rename(columns = {'↓OVA':'OVA','Height': 'Height(cm)','Weight':'Weight(kg)','Value':'Value(€)','Wage':'Wage(€)','Release Clause':'Release Clause(€)'}, inplace = True)
df

,ID,Name,LongName,Nationality,Age,OVA,POT,Club,Positions,Height(cm),...,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Contract Start,Contract End
0,158023,L. Messi,Lionel Messi,Argentina,33,93,93,FC Barcelona,"RW, ST, CF",170,...,5,85,92,91,95,38,65,771,2004,2021
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,Juventus,"ST, LW",187,...,5,89,93,81,89,35,77,562,2018,2022
2,200389,J. Oblak,Jan Oblak,Slovenia,27,91,93,Atlético Madrid,GK,188,...,3,87,92,78,90,52,90,150,2014,2023
3,192985,K. De Bruyne,Kevin De Bruyne,Belgium,29,91,91,Manchester City,"CAM, CM",181,...,4,76,86,93,88,64,78,207,2015,2023
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,Brazil,28,91,91,Paris Saint-Germain,"LW, CAM",175,...,5,91,85,86,94,36,59,595,2017,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,247223,Xia Ao,Ao Xia,China PR,21,47,55,Wuhan Zall,CB,178,...,1,64,28,26,38,48,51,0,2018,2022
18975,258760,B. Hough,Ben Hough,England,17,47,67,Oldham Athletic,CM,175,...,1,64,40,48,49,35,45,0,2020,2021
18976,252757,R. McKinley,Ronan McKinley,England,18,47,65,Derry City,CM,179,...,1,63,39,44,46,40,53,0,2019,2020
18977,243790,Wang Zhen'ao,Zhen'ao Wang,China PR,20,47,57,Dalian YiFang FC,RW,175,...,1,58,49,41,49,30,44,0,2020,2022
18978,252520,Zhou Xiao,Xiao Zhou,China PR,21,47,57,Dalian YiFang FC,"CB, LB",188,...,1,62,22,39,42,45,55,0,2019,2023

In [50]:
#changing column types
df['Value(€)'] = df['Value(€)'].astype('int')
df['Wage(€)'] = df['Wage(€)'].astype('int')
df['Release Clause(€)'] = df['Release Clause(€)'].astype('int')
df['Height(cm)'] = df['Height(cm)'].astype('int')
df['Weight(kg)'] = df['Weight(kg)'].astype('int')
df['Hits'] = df['Hits'].astype('int')
df['Preferred Foot']= df['Preferred Foot'].astype('category')

In [51]:
#checking new data types
df.dtypes

ID                 int64
Name              object
LongName          object
Nationality       object
Age                int64
                   ...
DEF                int64
PHY                int64
Hits               int32
Contract Start    object
Contract End      object
Length: 76, dtype: object